* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E26868;
}

#wrapper {
    height: 600px;
    width: 600px;
    background-color: #EDEDED;
}

#ball {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #905E96;

}

.animate {
    animation-name: fall;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes fall {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 500px);
    }
}